p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

Body {
    background-color: #f4fdff;
}


.navbar {
        position: fixed;     /* Vastzetten aan de bovenkant */
        top: 0;              /* positie bovenaan */
        left: 0;
        width: 100%;         /* volledige breedte */
        background-color: #333;
        padding: 15px;
        display: flex;
        gap: 20px;
        z-index: 1000;
        /* background-image: url(Images/Bevrijding%20van%20Nederland%201944-1945%20_%20Nederlands%20Instituut%20voor%20Militaire%20Historie.png);
        */
}

    .navbar a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    .navbar a:hover {
        text-decoration: underline;
    }

    .content {
        margin-top: 70px;
        padding: 20px;
        max-width: 70%;
    }
